p.typoscale Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw.

style
  :sass
    .typoscale
      min-width: var(--fortyfive-chars)
      max-width: var(--onehundredten-chars)
      display: none