extends layout.pug
block content

  section 
    h1 Headline (h1)
    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 
    h2 Headline (h2)
    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw.
    img(src="https://placekitten.com/g/800/500")
    h3 Headline (h3)
    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw.
    ul 
      li Cupcake
      li ipsum
      li dolor
      li Sit
      li amet
      li bonbon
    h4 Headline (h4)
    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 
    h5 Headline (h5)
    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 
    h6 Headline (h6)
    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 


    p Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 
    
    p(style="font-size: 162%") Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* 162% chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 

    p(style="font-size: 262%") Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* 262% chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 
    
    p(style="font-size: 80%") Cupcake ipsum dolor. Sit amet I love bonbon* bear claw tootsie roll jelly.* I love chocolate ice cream* 80% chupa chups I love. Gummi bears I love wafer marzipan. Cheesecake macaroon sweet sweet roll bear claw. 
